@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Mulish:wght@300&display=swap');

:root {
  --white: #fff;
  --black:#111;
  --blue:#3a80e9;
  --grey:#888;
  --green:#61c96f;
  --red:#f94141;
}
 
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
}

::selection{
  background-color: var(--blue);
  color: var(--white);
}

::-webkit-scrollbar{
  width:0.3rem; 
}

::-webkit-scrollbar-thumb{
  background-color: var(--blue);
  border-radius: 3rem;
}

a{
  color: var(--white) !important;
  text-decoration: none !important;
} 

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  
  }